/*
 * Empty Stylesheet file.
 */
#navbar{
    -fx-background-color: #350642;
    -fx-background-radius: 0px 30px;
}
#navItem{
       -fx-background-color: #350642;
    
}
#anchor{
     -fx-background-radius:80px;
     -fx-background-color: #F19A16;
}
#anchor2{
    -fx-background-color:  #F19A16;
     -fx-background-radius:80px;
}
#anchor3{
    -fx-background-radius: 0px 40px;
    -fx-background-color:  #F19A16;
}
